"*":
  "atom-beautify":
    _analyticsUserId: "e4930d25-69d4-4510-92dd-d65820c5ae2a"
  core:
    disabledPackages: [
      "emacs-plus"
      "minimap"
      "emmet"
      "emmet-simplified"
      "language-ampscript"
      "vim-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
  "exception-reporting":
    userId: "29bdc140-8098-61f0-8fcd-4089492bb401"
  "lisp-paredit": {}
  metrics:
    userId: "0a8f061c4d19f8ccae0d6a30af772f5f532f704b"
  minimap: {}
  "proto-repl":
    leinPath: "/usr/local/bin/lein"
  welcome:
    showOnStartup: false
